<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <a href="{{.Site.BaseURL}}"><img src="{{.Site.Params.logo | absURL }}" alt="{{.Site.Title}}" class="img-fluid"></a>
        </div>
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Address</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">{{.Site.Params.address | markdownify }}</li>
          </ul>
        </div> -->
        <!-- <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Contact Info</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">Tel : {{ .Site.Params.mobile | markdownify }}</li>
            <li class="font-secondary text-dark">Email : {{ .Site.Params.email | markdownify }}</li>
          </ul>
        </div> -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Site map</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/">Home</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/about">About</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/cats">Categories</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">License</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Categories</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/animals">Animals</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/buildings">Buildings</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/castles">Castles & fortress</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/cities">Cities & villages</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/clothing">Clothing</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/objects">Objects & antiques</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/transport">Transport</a>
            </li>
            <li class="font-secondary text-dark">
              <a class="text-dark" href="/categories/weapons">Weapons</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Follow</h6>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL }}" class="text-dark" target="_blank"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-3">
    <p class="mb-0">{{ .Site.Params.copyright | markdownify }}</p>
  </div>
</footer>


{{ if .Site.Params.search }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analitycs -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}