{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="col-lg-12 mt-5">
      <div class="row masonry-container">

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/animals"><img class="img-fluid mb-4" src="/images/animals/hen-01.jpg" alt="Medieval animals"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/animals">Animals</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/buildings"><img class="img-fluid mb-4" src="/images/buildings/farm-01.jpg" alt="Medieval buildings"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/buildings">Buildings</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/cities"><img class="img-fluid mb-4" src="/images/city/city-05.jpg" alt="Cities and villages"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/cities">Cities & villages</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/castles"><img class="img-fluid mb-4" src="/images/castle/castle-03.jpg" alt="Castles and fortress"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/castles">Castles & fortress</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/clothing"><img class="img-fluid mb-4" src="/images/clothing/clothing-feature.jpg" alt="Clothing"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/clothing">Clothing</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/objects"><img class="img-fluid mb-4" src="/images/objects/book-05.jpg" alt="Objects and antiques"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/objects">Objects & antiques</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/transport"><img class="img-fluid mb-4" src="/images/transport/cart-01.jpg" alt="Transport"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/transport">Transport</a></h4>
          </article>
        </div>

        <div class="col-sm-4 mb-5">
          <article class="text-center">
            <a href="/categories/weapons"><img class="img-fluid mb-4" src="/images/weapons/bows-01.jpg" alt="Weapons"></a>
            <h4 class="title-border"><a class="text-dark" href="/categories/weapons">Weapons</a></h4>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>

{{ end }}
